.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow-y: auto;
  padding: var(--spacing-16);
}
